/* styles */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
    height: 100%;
}

/* video::-webkit-media-controls {
    display: none;
  }
  
  /* Could Use thise as well for Individual Controls */
  /* video::-webkit-media-controls-play-button {}
  
  video::-webkit-media-controls-volume-slider {}
  
  video::-webkit-media-controls-mute-button {}
  
  video::-webkit-media-controls-timeline {}
  
  video::-webkit-media-controls-current-time-display {}

.navbar .log_reg_button{
    background: #000 !important;
    box-shadow: 1px 1px 10px #b2b2e2;
    border: none !important;
    color: #fff;
}  */

/* .audio_file:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
background: #f1f3f4;
} */
/* 
audio.audio_file::-webkit-media-controls-panel{

}
audio.audio_file::-webkit-media-controls-mute-button{
    border-radius: 20px;
}

audio.audio_file::-webkit-media-controls-overlay-play-button {
    display: none;
}

audio.audio_file::-webkit-media-controls-play-button{
    -webkit-appearance: media-play-button;
    display: flex;
    width: 16px;
    height: 16px;
    background-color: initial;
    border: initial;
    color: inherit;
}




audio.audio_file::-webkit-media-controls-play-button{
    -webkit-appearance: media-play-button;
    display: flex;
    width: 16px;
    height: 16px;
    background-color: white;
    margin: 5px !important;
    border: initial;
    color: yellow;
}

audio.audio_file::-webkit-media-controls-timeline-container {
    -webkit-appearance: media-controls-background;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1;
    -webkit-user-select: none;
    height: 16px;
    min-width: 0;
}

audio.audio_file::-webkit-media-controls-current-time-display {
    display: none;
}

audio.audio_file::-webkit-media-controls-time-remaining-display{
    display: none;
}

audio.audio_file::-webkit-media-controls-timeline {
    -webkit-appearance: media-slider;
    display: flex;
    flex: 1 1;
    height: 10px;
    padding: 0px 2px;
    background-color: rgb(247, 56, 189);
    border: initial;
    color: inherit;
    margin: initial;
    min-width: 0;
}

audio.audio_file::-webkit-media-controls-volume-slider {
    background-color: initial !important;
    border: initial !important;
    color: inherit !important;
    margin: initial !important;
}

audio.audio_file::-webkit-media-controls-seek-back-button {
    -webkit-appearance: media-seek-back-button;
    display: flex;
    width: 16px;
    height: 16px;
    background-color: initial;
    border: initial;
    color: inherit;
}

audio.audio_file::-webkit-media-controls-seek-forward-button {
    -webkit-appearance: media-seek-forward-button;
    display: flex;
    width: 16px;
    height: 16px;
    background-color: initial;
    border: initial;
    color: inherit;
}

audio.audio_file::-webkit-media-controls-fullscreen-button {
    -webkit-appearance: media-enter-fullscreen-button;
    display: flex;
    width: 16px;
    height: 16px;
    background-color: initial;
    border: initial;
    color: inherit;
}

audio.audio_file::-webkit-media-controls-rewind-button {
    display: none;
    background-color: initial;
    border: initial;
    color: inherit;
}

audio.audio_file::-webkit-media-controls-return-to-realtime-button{
    display: none;
    background-color: initial;
    border: initial;
    color: inherit;
}

audio.audio_file::-webkit-media-controls-toggle-closed-captions-button{
    -webkit-appearance: media-toggle-closed-captions-button;
    display: flex;
    width: 16px;
    height: 16px;
    background-color: initial;
    border: initial;
    color: inherit;
}

audio.audio_file::-webkit-media-controls-closed-captions-container{
    display: none;
}

audio.audio_file::-webkit-media-controls-closed-captions-track-list{
    display: none;
}

audio.audio_file::-webkit-media-controls-volume-slider-mute-button{
    -webkit-appearance: media-volume-slider-mute-button !important;
    display: none !important;
    background-color: initial !important;
    border: initial !important;
    color: inherit !important;
}

audio.audio_file::-webkit-media-controls-fullscreen-volume-slider{
    display: none;
}

audio.audio_file::-webkit-media-controls-fullscreen-volume-min-button{
    display: none;
}

audio.audio_file::-webkit-media-controls-fullscreen-volume-max-button{
    display: none;
}




.audio_file
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
background: #f1f3f4;
width: 100%;
}

.navbar .log_reg_button:hover{
    box-shadow: 1px 1px 3px #b2b2e2;
}

.navbar .log_reg_button:hover,
.navbar .log_reg_button.show{
    color: #ed4099 !important;
    transition: .1s linear;
}

.add_post_title{
    color: #ed4099;
    margin-top: 0 !important;
}

.add_post_box ul li{
    color: #ed4099;
}

.navbar .dropdown ul{
    background: #000 !important;
    box-shadow: 1px 1px 10px #b2b2e2;
    border: none !important;
    color: #fff;
}

.navbar .dropdown ul{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar .dropdown ul li{
    padding-left: 10px;
}

.main{
    background: #000;
}

body{
    height: 100%;
    min-height: 100vh;
    background: #000 !important;
}

.player_container{
    background-image: url('../images/player_background/player_back.jpg');
    padding: 20px;
    opacity: .7;
}

.player_container .player{
    width: 50%;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 73%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px !important;
}


.music_main_box .year_box{
    color: #ed4099;
}

.singer_content{
    align-items: stretch;
}

.comments_container .card,
.comments .card{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.comments_container .card h6{
    width: 100%;
    text-align: left;
    color: #ed4099;
}

.comments .card-body p{
    color: #0000007a;
    font-size: 20px;
}

.comments .card-body h4{
    color: #ed4099;
    text-align: right;
    font-size: 15px;
}

.comments{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px !important;
}

.comments .icon{
    color: #ed4099;
    margin-bottom: 20px;
}

.comments,
.comments_container{
    width: 80% !important;
    margin: auto;
}

.comments_container{
    padding: 0 !important;
}

.card-body button{
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%) !important;
    border: 1px solid #ed4099;
    padding: 5px;
    color: #ed4099;
    background: #000;
    padding: 10px;
    display: block;
    width: 200px;
}

.card-body textarea{
    background: rgba( 0, 0, 0, 0.15 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px !important;
    color: #ed4099;
}

.card-body{
    width: 100%;
    padding: 10px !important;
}

.singer_content .detail_img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: self-end;
}

.singer_content .col1{
    padding: 0 !important;
}

.detail_main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.carousel-caption{
    position: absolute;
    right: 15%;
    left: 15%;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 4rem !important;
    height: 4rem !important;
}

.about_container .col1 img{
    width: 100%;
    height: auto;
}

.base_main_about{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.my_playlist{
    width: 50%;
    margin: auto;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px !important;
}

.track-name{
    max-height: 50px;
    width: 300px;
    overflow-y: auto;
}

.about_container .row{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px !important;
}

.about_container .col2 p{
    color: #0217FF;
    font-size: 20px;
    max-height: 350px;
    overflow-y: scroll;
}

.carousel-caption h5{
    font-size: 50px !important;
    color: #ed4099 !important;
}

.carousel-caption a{
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    border-radius: 10px;
    border: 1px solid #ed4099;
    padding: 5px;
    color: #ed4099;
    text-align: center;
    text-decoration: none;
    background: #000;
    padding: 10px;
    margin-top: 20px;
    display: block;
    width: 200px;
    margin: auto;
}

.base_main{
    min-height: 100vh;
}

.add_post_box{
    padding: 20px;
}

.log_reg_form{
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    width: 65%;
    position: relative;
}

.log_reg_form::after{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../../static/images/circle/circle_img.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    opacity: 0.1;
    transform: translate(-50%,-50%);
}

.log_reg_form button{
    background: #000 !important;
    box-shadow: 1px 1px 10px #b2b2e2;
    border: none !important;
    color: #fff;
}

.log_reg_form p{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.log_reg_form label{
    margin-right: 10px;
    margin-top: 20px;
    color: #ed4099 !important;
}
.log_reg_form input{
    text-align: left !important;
    padding-left: 10px;
    width: 100% !important;
}

.log_reg_form button{
    width: 50% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

html{
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
}


nav.navbar  .logo{
    text-shadow: 1px 1px 0px #b2b2e2;
    color: #000 !important;
    font-size: 51px !important;
} */


/* .all_heighgt_box,
.main,
body{
    width: 100% !important;
    min-height: 79vh !important;
}

.singer_image{
    height: 375px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.singer_image,
.music_image{
    height: 375px;
    overflow: hidden;
}

.singer_image a{
    width: 105%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
} 

.singer_image a img{
    height: 100%;
    width: auto;
}

.music_image img{
    height: 100%;
    width: auto;
    transform: scale(1.6);
}

.user_profile_image img{
    width: 100px;
}

.singer_image img{
    width: auto;
    height: 100%;
    border-radius: 10px;
}

.singer_name, 
.music_name{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.music_name h3{
    color: #0217FF;
}

.music_name h3,
.singer_name h3{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    background: #000;
    padding: 10px;
    margin: 0;
}

.singer_box .singer_name h3{
    color: #ed4099 !important;
}

.singer_box{
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
}

.singer_box,
.music_box{
    position: relative;
    margin-top: 50px;
    background: #0217FF;
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
}

.singer_container{
    background-color: #000;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #000;
}

.music_container,
.singer_container{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.singer_container{
    min-height: 100vh;
    background: #0217FF;
}

.user_profile_container{
    min-height: 100vh;
}

.singer_container .title{
    color: #0217FF;
}

footer div{
    color: #fff;
    margin-left: 20px;
    font-size: 20px;
}

ul.pagination a{
    background: transparent;
    border: none;
    font-size: 20px;
}

.singer_container ul.pagination a:hover{
    background-color: #ed4099;
}

.music_container ul.pagination a{
    color: #0217FF;
}

.music_container ul.pagination a:hover{
    color: #ed4099;
}

.music_container ul.pagination a:hover{
    background-color: #0217FF;
}

.singer_container,
.music_container{
    min-height: 100vh;
}


.singer_container ul.pagination{
    margin-top: 20px;
}

ul.pagination{
    margin-top: 50px;
}

.title{
    text-align: center;
    margin-top: 20px !important;
    font-size: 55px;
}

.singer_container .title{
    color: #ed4099;
}

nav.navbar{
    background-color: #000 !important;
}

nav.navbar a{
    color: #fff !important;
}

.navbar button{
    background: #000 !important;
    box-shadow: 1px 1px 10px #b2b2e2;
    border: none !important;
    color: #fff;
}


.scroll_effect::-webkit-scrollbar{
    width: 7px;
}
  
textarea[name='description']{
    max-height: 150px;
    overflow-y: scroll;
}

.scroll_effect::-webkit-scrollbar-track{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #000;
}


.scroll_effect::-webkit-scrollbar-thumb{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255);
}


.scroll_effect::-webkit-scrollbar-thumb:hover{
    background: #000; 
}


.music_container{
    background-color: #ed4099;
}

.music_container .title{
    color: #0217FF;
}

.music_image a,
.singer_image a{
    height: 100%;
    width: 100%;
}

.music_image,
.singer_image{
    border-radius: 10px;
}

.search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 20px;
    margin-bottom: 20px;
}

.singer_container .page-link,
.singer_container .search_box label{
    color: #ed4099;
}

.search_box label{
    margin-bottom: 10px;
    color: #0217FF;
}

.add_post_box p a{
    color: #ed4099;
}

.search_box button,
.search_box input{
    width: 20%;
}

.search_box button,
.search_box input{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid #ed4099;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.music_container .search_box button,
.music_container .search_box input{
    border: 1px solid #0217FF;
}

.search_box button:hover{
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
    color: #ed4099 !important;
}

.search_box input:focus-visible{
    border: none !important;
    outline: none !important;
}

.music_main_box audio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}

.main_title{
    margin-top: 35px;
    margin-bottom: 35px;
    color:  #ed4099;
    font-size: 51px !important;
    text-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);

}

.singer_detail_container .detail_img{
    display: flex;
    justify-content: center;
}

.singer_detail_container .detail_img img{
    height: 100%;
    width: auto;
}

.music_detail_container{
    width: 100%;
}

.music_main_box .col1{
    width: 100%;
    height: 100%;
}

.music_content{
    position: relative;
}

.detail_img{
    max-height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_song_button{
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    border-radius: 10px;
    border: 1px solid #ed4099;
    padding: 5px;
    color: #ed4099;
    text-align: center;
    text-decoration: none;
    background: #000;
    padding: 10px;
    margin-top: 20px;
    display: block;
}

.music_main_box{
    width: 80% !important;
    margin: auto;
}

.profile{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_profile_container{
    background-image: url('../images/profile/profile_back_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.profile table{
    color: red;
    border-bottom: red;
    background: rgb(0 0 0 / 23%);
    box-shadow: 0 15px 32px 0 rgb(0 0 0 / 77%);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 18%);
    padding: 20px !important;
}

.profile table tr{
    font-size: 25px !important;
    text-shadow: 1px 1px 0px #090202;
}

.player.detail{
    height: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 8px 32px 0 rgb(94 65 87);
}

.music_main_box .col2{
    position: absolute;
    top: 0;
    left: 0;
}

.music_main_box .col2 p{
    line-height: 51px;
    color: #00000068;
    font-size: 20px;
    text-align: center;
}

.music_main_box{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.music_content {
    width: 100%;
    min-height: 700px;
}

.song_detail_ h4,
.singers h4{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.song_detail_ a,
.detail_music_box a{
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    background: #000;
    border-radius: 10px;
    width: max-content;
}

.song_detail_ a img,
.detail_music_box a img{
    width: auto;
    height: 100%;
}

.singers{
    margin-top: 35px !important;
    margin-bottom: 35px;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}

.singers,
.song_detail_,
.music_main_box{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px !important;
}

.music-detail_container{
    padding: 0 !important;
}

.music_detail_container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.singer_content .col1,
.singer_content .col2{
    padding: 20px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-height: 500px;
}


.singer_content .col2{
    overflow-y: scroll;
}

.singer_content .col1{
    margin-right: 20px;
    overflow: hidden;
}

.singer_content .col2 h3{
    margin-top: 20px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(#0217FF, #ed4099);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music_content.row{
    margin-left: 0 !important;
}


.log_box p{
    display:  flex;
    flex-direction: row;
}

.log_box p a:last-child{
    margin-left: 10px;
}

.log_box p a:first-child{
    margin-right: 10px;
}

.year_box,
.date_of_birth{
    font-size: 20px;
    margin-bottom: 20px;
}

.reg_form_block{
    width: 100%;
}

@media only screen and (max-width: 1100px){
    .singer_content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .singer_content .col2{
        margin-top: 35px;
    }

    .singer_content .col1 {
        margin-right: 0;
    }    
}

@media only screen and (max-width: 992px){
    .search_box{
        flex-direction: column;
    }  

    .search_box button{
        width: 100% !important;
    }

    .search_box input{
        width: 100%;
        margin-top: 10px;
    }

    .search_box button{
        margin-top: 20px;
    }

    .search_box label{
        margin-top: 10px;
    }

    .navbar .dropdown-menu[data-bs-popper] {
        top: 139%;
        left: 50%;
        margin-top: var(--bs-dropdown-spacer);
        transform: translateX(-50%);
    }
    
    .navbar .dropdown{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 768px){
    .log_reg_form{
        width: 100%;
    }
} */