{% extends "includes/base.html" %}
{% block title %} PLAY {% endblock %}
{% load static %}
{% block content  %}

<h3>Genre</h3>

<div class="swiper">
  <div class="swiper-wrapper">
    {% for genre in genres %}
    <div class="swiper-slide">

      <div class="col-lg-3 col-md-4 col-sm-12 block">
        <div class="singer_box">
            <div class="singer_image">
                <a href="{% url 'genre_app:detail' genre.slug %}">
                    <img src="{% if genre.image %}{{ genre.image.url }}{% endif %}" alt="" width="200">
                </a>
            </div>
            <div class="singer_name"><h3 class="name">{{ genre.name }}</h3></div>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

{% if trending_songs %}
<div class="swiper">
  <div class="swiper-wrapper">
      
      {% for item in trending_songs %}
      <div class="swiper-slide">
        {{ item.name }}
        <div class="detail_img"><a href="{{ item.get_absolute_url }}"><img width="200" src="{% if item.image %}{{ item.image.url }}{% endif %}" alt="{{ item.name }}"></a></div>
      </div>
      {% endfor %}
      
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
{% endif %}



{% if recomended_artists %}
<h3>Recomended artists</h3>
<div class="swiper">
  <div class="swiper-wrapper">
    
    {% for item in recomended_artists %}
    <div class="swiper-slide">
      {{ item.name }}
      <div class="detail_img"><a href="{{ item.get_absolute_url }}"><img width="200" src="{% if item.image %}{{ item.image.url }}{% endif %}" alt="{{ item.name }}"></a></div>
    </div>
    {% endfor %}

  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
{% endif %}


{% endblock %}